[submodule "libraries/ethercard"]
	path = libraries/ethercard
	url = https://github.com/jcw/ethercard.git
[submodule "hardware/Optiboot"]
	path = hardware/Optiboot
	url = https://github.com/Optiboot/optiboot.git
[submodule "libraries/MemoryFree"]
	path = libraries/MemoryFree
	url = git@github.com:maniacbug/MemoryFree.git
[submodule "libraries/UIPEthernet"]
	path = libraries/UIPEthernet
	url = git@github.com:ntruchsess/arduino_uip.git
